# ================================
# CONFIGURATION API
# ================================
# URL de votre backend
# Sur émulateur Android  → http://10.0.2.2:3000
# Sur simulateur iOS     → http://127.0.0.1:3000
# Sur vrai téléphone     → http://<IP_de_votre_PC>:3000
# En production          → https://api.myhanut.com
API_BASE_URL=http://localhost:3000/api

# ================================
# GOOGLE MAPS
# ================================
# Clé API Google Maps pour la carte interactive des épiciers
GOOGLE_MAPS_API_KEY=votre_cle_google_maps
GOOGLE_CLIENT_ID=601186164981-j98iutbsm8bm608vkmn2i8b7889kcffe.apps.googleusercontent.com